<div class="row my-3">
  <h4 class="d-flex justify-content-left">会員情報編集</h4>
</div>
<div class="errors">
  <%= render "layouts/errors", obj: @customer %>
</div>
<%= render "form", customer: @customer %>